rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Elevii trimit rezultatele testelor, iar profesorul le poate citi/administra
    match /rezultate_tic/{document} {
      allow read, write: if true;
    }
  }
}
